In [2]:
import findspark

In [3]:
findspark.init('/home/kbr/spark-3.2.0-bin-hadoop3.2')

In [4]:
import pyspark

In [5]:
from pyspark.sql import SparkSession

In [7]:
spark = SparkSession.builder.appName("Basics").getOrCreate()

In [8]:
df=spark.read.json('people.json')

In [10]:
df.show()

+----+-------+
| age|   name|
+----+-------+
|null|Michael|
|  30|   Andy|
|  19| Justin|
+----+-------+

In [11]:
df.printSchema()

root
 |-- age: long (nullable = true)
 |-- name: string (nullable = true)

In [13]:
df.columns

['age', 'name']

In [14]:
df.describe()

DataFrame[summary: string, age: string, name: string]

In [16]:
df.describe().show()

+-------+------------------+-------+
|summary|               age|   name|
+-------+------------------+-------+
|  count|                 2|      3|
|   mean|              24.5|   null|
| stddev|7.7781745930520225|   null|
|    min|                19|   Andy|
|    max|                30|Michael|
+-------+------------------+-------+

In [18]:
from pyspark.sql.types import StructField,StringType,IntegerType,StructType

In [19]:
data_schema = [StructField('age',IntegerType(),True),
              StructField('name',StringType(),True)]

In [21]:
final_struc = StructType(fields=data_schema)

In [22]:
df=spark.read.json('people.json',schema=final_struc)

In [23]:
df.printSchema()

root
 |-- age: integer (nullable = true)
 |-- name: string (nullable = true)

In [24]:
type(df['age'])

pyspark.sql.column.Column

In [25]:
df.select('age')

DataFrame[age: int]

In [27]:
df.select('age').show()

+----+
| age|
+----+
|null|
|  30|
|  19|
+----+

In [28]:
type(df.select('age'))

pyspark.sql.dataframe.DataFrame

In [29]:
df.head(2)

[Row(age=None, name='Michael'), Row(age=30, name='Andy')]

In [30]:
df.select(['age','name'])

DataFrame[age: int, name: string]

In [33]:
df.withColumn('double_age',df['age']*2).show()

+----+-------+----------+
| age|   name|double_age|
+----+-------+----------+
|null|Michael|      null|
|  30|   Andy|        60|
|  19| Justin|        38|
+----+-------+----------+

In [35]:
df.withColumnRenamed('age','my_new_age').show()

+----------+-------+
|my_new_age|   name|
+----------+-------+
|      null|Michael|
|        30|   Andy|
|        19| Justin|
+----------+-------+

In [36]:
df.createOrReplaceTempView('people')

In [37]:
results = spark.sql("SELECT * FROM people")

In [38]:
results.show()

+----+-------+
| age|   name|
+----+-------+
|null|Michael|
|  30|   Andy|
|  19| Justin|
+----+-------+

In [39]:
new_results=spark.sql("SELECT * FROM people WHERE age=30")

In [73]:
age=19

In [76]:
new_results=spark.sql("SELECT * FROM people where age="+str(age)).show()

+---+------+
|age|  name|
+---+------+
| 19|Justin|
+---+------+